<h1>Products#index</h1>

<div id = products>
  <table>
    <th>Title</th>
    <th>Description</th>
    <th>Price</th>
    <th>Stock Quantity</th>
    <% @products.each do |product|%>
    <tr>
      <td><%= link_to product.title, product_path(product) %></td>
      <td><%= product.description %></td>
      <td><%= product.price %></td>
      <td><%= product.stock_quantity %></td>
    </tr>

    <% end %>
  </table>
</div>
